$orange-1: #FF6060;
$blanc-1: white;
$blanc-2: #F6F6F6;

body{
    margin: 0%;
    max-width: 1450px;
    margin: auto;
    min-width: 400px;
    
    
}

main {
    padding: 0px 100px;
    
    
    
}

